<div [@routerTransition]>
    <app-page-header [heading]="'Sticky Notes'" [icon]="'fa-desktop'"></app-page-header>

    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">AT-1234</div>
                <div class="card-body">

                    <p class="card-text">
                        Stuck in database exception
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">AT-3432</div>
                <div class="card-body">
                    <p class="card-text">
                        Getting permission denied while connecting to pubsub
                    </p>
                </div>
            </div>
        </div>

        <!-- /.col-sm-4 -->
    </div>
</div>
